@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: #eff1f5;
  font-family: 'Noto Sans KR', sans-serif;
}
h1, p {
  margin: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder {
  color: #ccc;
}
textarea::-webkit-input-placeholder {
  color: #ccc;
}
textarea:-ms-input-placeholder {
  color: #ccc;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: #63a1ff;
  color: #fff;
}
.header-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #63a1ff;
  background: #fff;
}
.add-form {
  display: flex;
  height: 60px;
}
.add-input {
  flex: 1 0 0px;
  border: 0;
  outline: none;
  font-size: 20px;
  padding: 15px;
}
.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  margin-left: 1px;
  font-size: 40px;
  color: #fff;
  background: #fff;
}
.add-button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  overflow: hidden;
}
.fa-pen-square {
  background: #63a1ff;
}
.habit-button {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
}
.habit-button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
.habit {
  display: flex;
  align-items: center;
  margin-top: 1px;
  padding: 15px;
  background: #fff;
}
.habit-name {
  margin-right: auto;
  word-break: break-all;
  padding: 0 1em;
}
.habit-count {
  padding: 0 1em;
}
.habit .habit-button {
  flex: 0 0 auto;
}
.habit-delete {
  border: 1px solid #efefef;
  background: #fff;
  color: #63a1ff;
}
.habit-increase {
  background: #63a1ff;
  color: #fff;
}
.habit-decrease {
  background: #ff66a2;
  color: #fff;
}
.buttons {
  margin-top: 30px;
  text-align: center;
}
.reset-button {
  padding: 0 20px;
  height: 50px;
  line-height: 40px;
  border: 5px solid rgba(255,255,255,0.6);
  border-radius: 25px;
  font-size: 20px;
  color: #fff;
  background: #63a1ff;
}